@use "reset";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 색상 변수 */
$main_color: #da7c98;
$sub_color: #fff0f0;
$text_color: #cf6e91;
$white: #ffffff;
$black: #222222;

// wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// 검색
.search-container {
  .search-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
  }

  .search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 999;
    .search-box {
      width: 40vw;
      padding: 1.5vw;
      border: none;
      font-size: 16px;
    }
  }
}

// 헤더
header {
  position: fixed; // 뉴스티커 부분
  width: 100%;
  background-color: $main_color;
  color: $sub_color;
  text-align: center;
  align-items: center;
  z-index: 999;
  .ticker-wrap {
    height: 2vw;
    overflow: hidden;

    .ticker {
      animation: ticker-scroll 3s linear infinite;

      li {
        height: 2vw;
        line-height: 2vw;
        font-size: 1vw;
      }
    }
  }
}

@keyframes ticker-scroll {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vw);
  }
  75% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(0);
  }
}

// 사이드 바
.sidebar {
  background-color: $sub_color;
  text-align: center;
  font-size: 1rem;
  width: 16.25rem; // 260px;
  padding: 7.8rem 0;
  z-index: 998;
  transition: transform 0.5s ease-in-out;

  li {
    margin-bottom: 40px;
    a {
      // display: inline-block;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        left: 0;
        bottom: -5px;
        background-color: $text_color;
        transition: 0.3s;
      }
      &:hover:after {
        width: 100%;
      }
      &:hover {
        color: $main_color;
      }
    }
  }

  .dropdown-content {
    margin-top: 20px;
    font-size: 0.875rem; //14px
    color: $text_color;
  }
}

// 컨테이너
.container {
  flex: 1;
  display: flex;
  min-height: 100vh; // 리액트 추가

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7.06rem;
    align-items: center;
    gap: 17.21vw;
  }
  // main 중앙 콘텐트
  main {
    flex: 1;
    padding: 7.8rem 0; //125px
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center; // 수평 가운데 정렬

    .bg-image {
      width: 52.5vw;
      height: 35vw;
    } //  여기서 clamp 지정해주니까 꺠짐

    .main-logo {
      width: 14.2vw;
      height: 13.4vw;
    }

    .menu-icon {
      cursor: pointer;
      width: 17.21vw; //74px
      height: auto;
    }
  }

  //  밑에 푸터
  footer {
    color: $text_color;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}

// 서브페이지 아이템
.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin-bottom: 7.06rem;

  .item {
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    // 들썩거림 방지
    transition: transform 0.3s ease, border-color 0.3s ease,
      box-shadow 0.3s ease;

    .overlay-wrap {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
      opacity: 0;
      transition: background-color 0.3s ease;

      .overlay {
        text-align: center;
        width: 100%;
        color: black;
        padding: 1.2vw;
        font-size: 1vw;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:hover {
      box-sizing: border-box;
      border: 1px solid $main_color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      // opacity: 0.5;
    }
    &:hover .overlay-wrap {
      opacity: 1;
    }
    &:hover img {
      transform-origin: center center;
      transform: scale(1.2); /* 이미지 확대 */
    }
  }
}
// 페이지
.pages {
  color: $text_color;
  font-size: 0.875rem; //Text_14
  // width: 100%;
  // padding: 1vw;
  display: flex;
  // justify-content: center;
  gap: 15px;
  margin-bottom: 7.06rem;
  ol {
    display: flex;
    gap: 15px;
  }
}

// 빈 상품
.empty-item {
  display: flex;
  justify-content: center;
  padding: 1.39vw;
  border-bottom: 1px solid $main_color;
}

// 장바구니
.cart-container {
  width: 100%;
  margin-bottom: 7.06rem;
  button {
    font-size: 1vw;
    color: $main_color;
  }
}
.cart-header {
  text-align: center;

  .cart-title {
    width: 100%;
    padding: 0.694vw 0;
    font-size: 1.15vw;
    background-color: $main_color;
    color: $sub_color;
  }
  .cart-actions {
    border-bottom: 1px solid $main_color;
    display: flex;
    justify-content: flex-end; // 오른쪽 정렬
    padding: 0.694vw 1.39vw;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 1.39vw;
  border-bottom: 1px solid $main_color;
  align-items: center;
  text-align: center;
}

.item-image img {
  width: 10.42vw;
  border: 1px solid $main_color;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 1vw;
  }

  .name-price {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    gap: 20px;
    button img {
      width: 1.25vw;
      height: 1.25vw;
    }
  }

  .size-button {
    color: $black;

    &:hover {
      background-color: $main_color;
      color: $white;
    }
  }
}

.cart-summary {
  .summary-row {
    display: flex;
    justify-content: space-between;
    padding: 1.39vw;
    align-items: center;
    // 첫 번째만 border
    &:nth-of-type(1) {
      border-bottom: 1px solid $main_color;
    }
  }

  span {
    font-size: 1vw;
  }
}
.cart-footer {
  text-align: center;
  padding: 0.694vw 0;
  background-color: $main_color;
  display: flex;
  align-items: center; /* 또는 flex-end, stretch 등 */
  justify-content: center;

  button {
    color: $sub_color;
    width: 100%;
    font-size: 1.15vw;
  }
}

button {
  all: unset;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.remove-button:hover,
.trash-button:hover,
.cart-button:hover {
  border: 1px solid $main_color;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(202, 121, 145, 0.3);
}

.remove-button {
  text-align: center;
  padding: 0.694vw;
  border: 1px solid transparent;
  font-size: 1vw;
}

// 사이즈 옵션 모달창
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 300px;
  gap: 16px;
  text-align: center;

  .option-title {
    font-size: 14px; //14px
    font-weight: normal;
    color: $main_color;
    background-color: $black;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .name-price {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 100px;
      height: 100px;
      margin: auto;
      border: 1px solid black;
    }
    p {
      font-weight: bold;
      font-size: 1vw;
    }
  }

  .modal-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    button {
      border: 1px solid $black;
      background-color: $white;
      padding: 10px;
      color: $black;
      &:hover {
        background-color: $black;
        color: $main_color;
      }
    }
  }

  .cart-buttons {
    display: flex;
    flex-direction: column;
  }
}

.trash-cart button {
  // text-align: center;
  padding: 0.694vw;
  border: 1px solid transparent;
  // font-size: 1vw;
  img {
    width: 1.67vw; //24px
    height: 1.67vw;
  }
}

// 위시리스트
.wish-container {
  width: 100%;
  margin-bottom: 7.06rem;
  button {
    color: $main_color;
    font-size: 1vw;
  }
}

.wish-header {
  text-align: center;
  .wish-title {
    width: 100%;
    padding: 0.694vw 0;
    font-size: 1.15vw;
    background-color: $white;
    color: $main_color;
    border-top: 1px solid $main_color;
    border-bottom: 1px solid $main_color;
  }
  .wish-actions {
    border-bottom: 1px solid $main_color;
    display: flex;
    justify-content: flex-end; // 오른쪽 정렬
    padding: 0.694vw 1.39vw;
  }
}

.wish-item {
  display: flex;
  justify-content: space-between;
  padding: 1.39vw;
  border-bottom: 1px solid $main_color;
  align-items: center;
  text-align: center;

  .trash-cart {
    display: flex;
    flex-direction: column;
    gap: 0.694vw;
  }
}

.wish-footer {
  cursor: pointer;
  text-align: center;
  padding: 0.694vw 0;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $main_color;
  font-size: 1.15vw;
}

// 상세페이지
.detail-container {
  width: 100%; // 부모(main) 너비만큼
}
.product-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.82vw;
  flex-wrap: wrap;
}
.product-image img {
  width: 29.03vw;
  height: 29.03vw;
}
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.82vw;
  padding: 3.82vw 0;
  img {
    width: 55.56vw;
  }
}

.action-buttons {
  display: flex;
  gap: 0.833vw;
  button {
    font-size: 1vw;
    text-align: center;
    height: 2.778vw;
    background-color: $sub_color;
  }
  button:nth-child(1) {
    width: 2.778vw;
    &:hover {
      background-color: rgba(168, 24, 67, 0.15);
    }
    img {
      width: 1.389vw;
      height: 1.25vw;
      margin: auto;
    }
  }

  button:nth-child(2),
  button:nth-child(3) {
    width: 9.167vw;
  }
  button:hover {
    background-color: rgba(168, 24, 67, 0.15); // 연한 메인컬러 배경
    box-shadow: 0 0 4px rgba(168, 24, 67, 0.15); // 살짝 강조
  }
}

.product-info {
  width: 22.78vw;
  display: flex;
  flex-direction: column;
  gap: 1.39vw; //20px
  align-items: center;

  p {
    font-size: 1vw;
    text-align: center;
  }
  .product-name {
    font-weight: bold;
    font-size: 2.22vw;
    color: $text_color;
  }
  .product-price {
    font-size: 1.39vw;
    font-weight: bold;
    color: $text_color;
  }
}

.select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 16.5vw;
  height: 2.778vw;
}

.size-select {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 0.833vw; // 좌우 padding 12px
  cursor: pointer;
  font-size: 1vw;
  border: 1px solid $main_color;
  background-color: $white;
  border-radius: 0.556vw;
  color: $black;
  background-size: 1rem;
  appearance: none; // 브라우저 기본 스타일 제거
  -webkit-appearance: none;
  -moz-appearance: none;

  option {
    text-align: center;
    color: $text_color;
    border: none;
  }
}

.select-icon {
  position: absolute;
  right: 0.833vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25vw;
  height: 1.25vw;
  pointer-events: none;
}

select:focus {
  outline: 2px solid $main_color;
}

// 로그인 페이지
.login-container,
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 7.06rem;
}
.login-title,
.welcome-message {
  font-size: 16px;
  font-weight: normal;
  color: $text_color;
}
.login-input {
  width: 150px;
  height: 24px;
  padding: 0 6px;
  font-size: 14px;
  border: 1px solid $text_color;
}
.login-button,
.logout-button {
  font-size: 16px;
  border: 1px solid $sub_color;
  color: $text_color;
  padding: 15px;
  background-color: $sub_color;
}

// 검색페이지
.search-container {
  width: 100%;
  margin-bottom: 7.06rem;
  .search-title {
    width: 100%;
    padding: 0.694vw 0;
    font-size: 1.15vw;
    background-color: $sub_color;
    color: $main_color;
    text-align: center;
    border-bottom: 1px solid $main_color;
    border-top: 1px solid $main_color;
  }
  .search-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $main_color;
  }
  .search-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px;
    gap: 16px;
    text-align: center;
  }
  .search-item img {
    width: 240px;
    height: 240px;
    border: 1px solid $main_color;
  }
}

/* 미디어 쿼리 */
@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
  // 햄버거 메뉴 아이콘 숨기기
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    // 햄버거 메뉴 아이콘 보이기
  }
  .sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100%;
  }

  .sidebar-left.open {
    transform: translateX(0);
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
  }

  .sidebar-right.open {
    transform: translateX(0);
  }
}
