@use "reset";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 색상 변수 */
$main_color: #da7c98;
$sub_color: #fff0f0;
$text_color: #cf6e91;
$white: #ffffff;
$black: #222222;

// wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// 뉴스티커
header {
  position: fixed;
  width: 100%;
  background-color: $main_color;
  color: $sub_color;
  text-align: center;
  z-index: 999;

  .ticker-wrap {
    height: 29px;
    overflow: hidden;

    .ticker {
      animation: ticker-scroll 3s linear infinite;

      li {
        height: 29px;
        line-height: 29px; // 세로 중앙 정렬
        font-size: 14px; // 원하는 폰트 크기
        white-space: nowrap;
      }
    }
  }
}

@keyframes ticker-scroll {
  0%,
  25% {
    transform: translateY(0);
  }
  50%,
  75% {
    transform: translateY(-29px); // 한 줄 높이만큼 이동
  }
  100% {
    transform: translateY(0);
  }
}

// 사이드 바
.sidebar {
  background-color: $sub_color;
  text-align: center;
  font-size: 1rem;
  width: 16.25rem; // 260px;
  padding: 7.8rem 0;
  z-index: 998;
  transition: transform 0.5s ease-in-out;

  li {
    margin-bottom: 40px;
    a,
    button {
      // display: inline-block;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        left: 0;
        bottom: -5px;
        background-color: $text_color;
        transition: 0.3s;
      }
      &:hover:after {
        width: 100%;
      }
      &:hover {
        color: $main_color;
      }
    }
  }

  .dropdown-content {
    margin-top: 20px;
    font-size: 0.875rem; //14px
    color: $text_color;
  }
}

// 컨테이너
.container {
  display: flex;
  min-height: 100vh; // 리액트 추가

  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 7.06rem;
    align-items: center;
    gap: 17.21vw;
  }
  // main 중앙 콘텐트
  main {
    flex: 1;
    padding: 7.8rem 0; //125px
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .bg-image {
      width: clamp(20.9375rem, 52.5vw, 47.25rem);
      height: auto;
      max-width: 100%;
    }

    .main-logo {
      width: clamp(5.25rem, 14vw, 12.75rem);
      height: auto;
    }

    .menu-icon {
      cursor: pointer;
      width: 17.21vw; //74px
      height: auto;
    }
  }

  //  밑에 푸터
  footer {
    color: $text_color;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }
}

// 서브페이지 아이템
.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  margin-bottom: 7.06rem;

  .item {
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    // 들썩거림 방지
    transition: transform 0.3s ease, border-color 0.3s ease,
      box-shadow 0.3s ease;

    .overlay-wrap {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
      opacity: 0;
      transition: background-color 0.3s ease;

      .overlay {
        text-align: center;
        width: 100%;
        color: black;
        padding: 1.2vw;
        font-size: clamp(0.625rem, 1.1vw, 1rem);
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:hover {
      box-sizing: border-box;
      border: 1px solid $main_color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      // opacity: 0.5;
    }
    &:hover .overlay-wrap {
      opacity: 1;
    }
    &:hover img {
      transform-origin: center center;
      transform: scale(1.2); /* 이미지 확대 */
    }
  }
}
// 페이지
.pages {
  color: $text_color;
  font-size: 0.875rem; //Text_14
  // width: 100%;
  // padding: 1vw;
  display: flex;
  // justify-content: center;
  gap: 15px;
  margin-bottom: 7.06rem;
  ol {
    display: flex;
    gap: 15px;
  }
}

// 빈 상품
.empty-item {
  display: flex;
  justify-content: center;
  padding: 1.39vw;
  border-bottom: 1px solid $main_color;
}

// 장바구니
.cart-container {
  width: 100%;
  margin-bottom: 7.06rem;
  button {
    font-size: clamp(0.625rem, 1vw, 0.875rem);
    color: $main_color;
  }
}
.cart-header {
  text-align: center;

  .cart-title {
    width: 100%;
    padding: 0.694vw 0;
    font-size: clamp(0.625rem, 1.1vw, 1rem);
    background-color: $main_color;
    color: $sub_color;
  }
  .cart-actions {
    border-bottom: 1px solid $main_color;
    display: flex;
    justify-content: flex-end; // 오른쪽 정렬
    padding: 0.694vw 1.39vw;
  }
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $main_color;
  align-items: center;
  text-align: center;
}

.item-image img {
  width: 150px;
  border: 1px solid $main_color;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5625rem, 0.63vw, 1.25rem);

  p {
    font-size: clamp(0.625rem, 1vw, 0.875rem);
  }

  .name-price {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.625rem, 1vw, 0.875rem);
    gap: 20px;
    button img {
      width: 18px;
      height: 18px;
    }
  }

  .size-button {
    color: $black;

    &:hover {
      background-color: $main_color;
      color: $white;
    }
  }
}

.cart-summary {
  .summary-row {
    display: flex;
    justify-content: space-between;
    padding: 1.39vw;
    align-items: center;
    // 첫 번째만 border
    &:nth-of-type(1) {
      border-bottom: 1px solid $main_color;
    }
  }

  span {
    font-size: clamp(0.625rem, 1vw, 0.875rem);
  }
}
.cart-footer {
  text-align: center;
  padding: 0.694vw 0;
  background-color: $main_color;
  display: flex;
  align-items: center; /* 또는 flex-end, stretch 등 */
  justify-content: center;

  button {
    color: $sub_color;
    width: 100%;
    font-size: clamp(0.625rem, 1.1vw, 1rem);
  }
}

button {
  all: unset;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.remove-button:hover,
.trash-button:hover,
.cart-button:hover {
  border: 1px solid $main_color;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(202, 121, 145, 0.3);
}

.remove-button {
  text-align: center;
  padding: 0.694vw;
  border: 1px solid transparent;
  font-size: 1vw;
}

// 사이즈 옵션 모달창
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 300px;
  gap: 16px;
  text-align: center;

  .option-title {
    font-size: 14px; //14px
    font-weight: normal;
    color: $main_color;
    background-color: $black;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .name-price {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 170px;
      height: auto;
      margin: auto;
      border: 1px solid black;
    }
    p {
      font-size: 14px;
    }
    p:first-of-type {
      font-weight: bold;
    }
  }

  .modal-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
    button {
      border: 1px solid $black;
      background-color: $white;
      padding: 10px;
      color: $black;
      &:hover {
        background-color: $black;
        color: $main_color;
      }
    }
  }

  .cart-buttons {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}

.trash-cart button {
  padding: 0.694vw;
  border: 1px solid transparent;
  img {
    width: 24px;
    height: auto;
  }
}

// 위시리스트
.wish-container {
  width: 100%;
  margin-bottom: 7.06rem;
  button {
    color: $main_color;
    font-size: clamp(0.625rem, 1vw, 0.875rem);
  }
}

.wish-header {
  text-align: center;
  .wish-title {
    width: 100%;
    padding: 0.694vw 0;
    font-size: clamp(0.625rem, 1.1vw, 1rem);
    background-color: $white;
    color: $main_color;
    border-top: 1px solid $main_color;
    border-bottom: 1px solid $main_color;
  }
  .wish-actions {
    border-bottom: 1px solid $main_color;
    display: flex;
    justify-content: flex-end; // 오른쪽 정렬
    padding: 0.694vw 1.39vw;
  }
}

.wish-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $main_color;
  align-items: center;
  text-align: center;

  .trash-cart {
    display: flex;
    flex-direction: column;
    gap: 0.694vw;
  }
}

.wish-footer {
  cursor: pointer;
  text-align: center;
  padding: 0.694vw 0;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $main_color;
  button {
    font-size: clamp(0.625rem, 1.1vw, 1rem);
  }
}

// 상세페이지
.detail-container {
  width: 100%; // 부모(main) 너비만큼
}
.product-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  flex-wrap: wrap;
}
.product-image img {
  width: clamp(19.125rem, 29vw, 26.125rem);
  height: auto;
}
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.82vw;
  padding: 3.82vw 0;
  img {
    width: 55.56vw;
  }
}

.action-buttons {
  display: flex;
  gap: 0.833vw;
  button {
    font-size: 16px;
    text-align: center;
    background-color: $sub_color;
  }
  button:nth-child(1) {
    width: 40px;
    height: 40px;
    &:hover {
      background-color: rgba(168, 24, 67, 0.15);
    }
    img {
      width: 20px;
      height: 18px;
      margin: auto;
    }
  }

  button:nth-child(2) {
    width: 132px;
    height: 40px;
  }
  button:hover {
    background-color: rgba(168, 24, 67, 0.15); // 연한 메인컬러 배경
    box-shadow: 0 0 4px rgba(168, 24, 67, 0.15); // 살짝 강조
  }
}

.product-info {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  p {
    font-size: 14px;
    text-align: center;
  }
  .product-name {
    font-weight: bold;
    font-size: 32px;
    color: $text_color;
  }
  .product-price {
    font-size: 20px;
    font-weight: bold;
    color: $text_color;
  }
}

.select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 240px;
  height: 40px;
}

.size-select {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 0.833vw; // 좌우 padding 12px
  cursor: pointer;
  font-size: 14px;
  border: 1px solid $main_color;
  background-color: $white;
  border-radius: 10px;
  color: $black;
  background-size: 1rem;
  appearance: none; // 브라우저 기본 스타일 제거
  -webkit-appearance: none;
  -moz-appearance: none;

  option {
    text-align: center;
    color: $text_color;
    border: none;
  }
}

.select-icon {
  position: absolute;
  right: 0.833vw;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: auto;
  pointer-events: none;
}

select:focus {
  outline: 2px solid $main_color;
}

// 로그인 페이지
.login-container,
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 7.06rem;
}
.login-title,
.welcome-message {
  font-size: 16px;
  font-weight: normal;
  color: $text_color;
}
.login-input {
  width: 150px;
  height: 24px;
  padding: 0 6px;
  font-size: 14px;
  border: 1px solid $text_color;
}
.login-button,
.logout-button {
  font-size: 16px;
  border: 1px solid $sub_color;
  color: $text_color;
  padding: 15px;
  background-color: $sub_color;
}

// 검색
.search-content {
  .search-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
  }

  .search {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    z-index: 999;
    .search-box {
      width: clamp(13.75rem, 40vw, 36rem);
      height: clamp(2.25rem, 4.4vw, 4rem);
      padding: 1.5vw;
      border: none;
      font-size: clamp(0.875rem, 1.1vw, 1rem);
    }
  }
}
// 검색페이지
.search-container {
  width: 100%;
  margin-bottom: 7.06rem;
  .search-title {
    width: 100%;
    padding: 0.694vw 0;
    font-size: 1rem;
    background-color: $sub_color;
    color: $main_color;
    text-align: center;
    border-bottom: 1px solid $main_color;
    border-top: 1px solid $main_color;
  }
  .search-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid $main_color;
    width: 100%;
    padding: 50px 25px;
    gap: 16px;
  }
  .search-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .search-item img {
    margin: auto;
    width: 240px;
    height: 240px;
    border: 1px solid $main_color;
  }
}

/* 미디어 쿼리 */
@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
  // 햄버거 메뉴 아이콘 숨기기
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    // 햄버거 메뉴 아이콘 보이기
  }
  .sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    // 자기 자신 너비의 -100%만큼 왼쪽으로 이동
    // 처음엔 안 보이게 왼쪽 화면 밖으로 완전히 사라진 상태
    height: 100%;
  }

  .sidebar-left.open {
    transform: translateX(0);
    //원래 위치(화면 안쪽, left: 0)로 되돌아오기
  }

  .sidebar-right {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
  }

  .sidebar-right.open {
    transform: translateX(0);
  }
  .item-info {
    width: 82px;
    margin: 0 auto;
  }
}
